.rocket {
    background: url(https://static.vecteezy.com/system/resources/previews/013/743/608/original/cartoon-rocket-launch-png.png) no-repeat;
    background-size: contain;
    width: 140px;
    height: 140px;
    cursor: -webkit-grab;
    will-change: transform;
    user-select: none;
  }
  
  .rocket:active {
    cursor: -webkit-grabbing;
  }
  